<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnQ5nf7S-WAZS306XBUe1dv0K8SM-uaQw</string>
	<key>GCM_SENDER_ID</key>
	<string>1072819351681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ticTacToe.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>todo-app-1b48c</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-1b48c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072819351681:ios:8d79d8987d90a497149d80</string>
</dict>
</plist>